/src/build
/src/node_modules
/src/.secret
/src/ViccStaking/.secret
/src/ViccStaking/build
/src/ViccStaking/node_modules
/src/Contract/.secret
/src/Contract/apikey
/src/Contract/node_modules
/src/Contract/package-lock.json
