nav {
    top: 0;
    width: 100%;
    height: 9%;
    color: whitesmoke;
    position: fixed;
    padding: 1%;
    z-index: 200;
    /*background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);*/
    background: rgba(244, 244, 244, 0.3);    
}
.logo-layout {
}
.toggle-nav-btn-layout {
    width: 3rem;
    height: 2rem;
}
.nav-menu-list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-menu-list.with-bg-color {
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);    
}
.items {
    margin-right: 20px;
    font-size: 20px;
    /*text-transform: uppercase;*/
    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    display: none;
    right: 10px;
    top: 0;
    padding: 5px 10px;
    color: whitesmoke;
    font-family: 'Goldplay';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 1px solid #FA02FF;
    border-radius: 1.2rem;
}

.btn .collapsed-menu-btn-img-layout {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 768px){
    nav {
        padding: 1%;
    }
    .nav-menu-list {
        flex-direction: column;
        height: auto;
        width: 50%;
        margin-top: 3.4rem;
        float:  right;
    }
    .toggle-nav-btn-layout {
        width: 3rem;
        height: 3rem;
    }
    .items:nth-child(1){
        border-top: 0; /*1px solid rgba(255, 255, 255, 0.555);*/
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 0.1rem 0;
    }
    .btn {
        display: block;
        border-radius: 0.9rem;
    }
    .btn .collapsed-menu-btn-img-layout {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 425px){
    nav {
        padding: 2%;
    }
    .nav-menu-list {
        margin-top: 3.4rem;
    }
    .toggle-nav-btn-layout {
        width: 3rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: 375px){
    nav {
        height: 8%;
        padding: 3%;
    }
    .nav-menu-list {
        margin-top: 2.8rem;
    }
    .btn {
        border-radius: 0.8rem;
    }
    .btn .collapsed-menu-btn-img-layout {
        width: 1.5rem;
        height: 1.2rem;
    }
}

@media screen and (max-width: 320px){
    nav {
        height: 7%;
        padding: 3%;
    }
    .btn {
        border-radius: 0.8rem;
    }
    .btn .collapsed-menu-btn-img-layout {
        width: 1.3rem;
        height: 1rem;
    }
}