body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.top-layout {
	width: 100%;
	height: auto;	
	background-color: #0C0241;
	position: absolute;
	padding: 1em;
}

.bg-effect-layout {
	opacity: 0;
	height: 100vh;
}

.bg-effect-1 {
	position: absolute;
	top: 0px;
	left: 0px;

}

.bg-effect-2 {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/**************** HEADER LAYOUT **************/
.header-layout {
	color: #FFF;
}

.header-layout .logo-layout {
	margin-left: 110px;
}

.header-layout .menu-layout {
}

.header-layout .menu-layout ul {
	padding-top: 10px;
}

.header-layout .menu-layout ul li {
	cursor: pointer;
	margin: 0 1rem;
}

.header-layout .menu-layout ul li.active {
	cursor: pointer;
	margin: 0 1rem;
	border-bottom: 1px solid #FA02FF;
}

button.small-button {
	display: flex;
	flex-direction: row;
	align-items: flex-center;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	gap: 0.625rem;

	width: auto;
	height: auto;

	background: #1A1F54;
	border: 0.125rem solid #FA02FF;
	border-radius: 12.5rem;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

button.small-button span {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
	color: #FFFFFF;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-top: -2px;
}
/******* MAIN CONTAINER LAYOUT *************/
.body-layout {
	height: 100vh;
}

.content-layout {
	padding: 3rem;
}

.main-text-color {
	color: #F5F5F5;
}

.left-panel-layout {
	text-align: center;
	color: #F5F5F5;
}

h2 {
	font-size: 4rem !important;
	font-weight: 600;
	line-height: 4.5rem;
	margin-bottom: 1.5rem;
}

.greeting-section-layout {
	margin-bottom: 5rem;
}

.greeting-layout {
	margin-bottom: 2rem;
}

.greeting-layout h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 4.5rem;
	line-height: 5rem;
	/* or 114% */
	letter-spacing: 0.1rem;
	color: #FFFFFF;
}

.greeting-layout h2.highlighted {
	color: #FA02FF;
}

.title-highlighted-layout {
}

.left-panel-buttons-layout {
	margin-top: 2rem;
}

.main-button-theme {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2rem;
	/* identical to box height, or 112% */

	letter-spacing: 0.1rem;
	border-radius: 1.67rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1.5rem;
	gap: 0.625rem;
}

.main-button-theme.medium-size {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1rem;
	/* identical to box height, or 112% */

	letter-spacing: 0.2rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1.5rem;
	gap: 0.625rem;
}

.gradient-button-bg {
	background: linear-gradient(93.49deg, #FA02FF 1.54%, rgba(88, 71, 255, 0) 112.54%);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.border-pink {
	border: 2px solid #FA02FF;
}

button.border-pink:focus {
	outline: 1px solid #FA02FF;
}

button.gradient-button-bg:focus {
	outline: 1px solid #FA02FF;	
}

.right-panel-layout {
	text-align: center;
	color: #F5F5F5;
	padding: 3em;
}

.right-panel-bg-layout {
}

.right-panel-content-layout {
	padding-top: 2.5rem;
	margin-left: -100%;
	margin-top: -6.5rem;
	width: 32.5rem;
	height: 21rem;
}

.right-panel-footer-layout {
	margin-top: 3rem;
	width: 32.5rem;
	height: 5rem;
	padding: 0.9rem 0.2rem;
	color: #000;
	background: linear-gradient(91.68deg, #FA02FF 0%, #5847FF 105.34%);
	border-radius: 0px 0px 2.5rem 2.5rem;
}

.semi-transparent-bg {
	background: radial-gradient(100% 177.18% at 0% 5.41%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	backdrop-filter: blur(2rem);
	/* Note: backdrop-filter has minimal browser support */
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
}

.presale-amount-section-layout {
	margin-bottom: 2rem;
}

.presale-title-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 1rem;
	/* identical to box height, or 60% */
	letter-spacing: 0.1rem;
	color: #FFFFFF;
}

.presale-amount-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2rem;
	/* or 92% */
	text-align: center;
	letter-spacing: 0.1rem;
	color: #E0E0E0;
}

.token-sold-label-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1rem;
	/* or 192% */

	text-align: center;
	letter-spacing: 0.1rem;

	color: #E0E0E0;
}

.elapsed-time-layout {
	margin-bottom: 2rem;
}

.elapsed-datetime-value-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 2rem;
	/* identical to box height, or 51% */
	letter-spacing: 0.1rem;
	color: #FFFFFF;	
	margin-bottom: 0.5rem;
}

.elapsed-datetime-label-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	/* identical to box height, or 144% */
	letter-spacing: 0.1rem;
	color: #E0E0E0;
}

.presale-duration-comment1-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5rem;
	/* identical to box height, or 157% */
	text-align: center;
	letter-spacing: -0.02rem;
	color: #100344;	
}

.presale-duration-comment2-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	/* identical to box height, or 157% */
	text-align: center;
	letter-spacing: 0;
	color: #100344;	
}

@media (max-width: 1400px) {
	.main-button-theme {
		font-size: 2rem;
		line-height: 2rem;
	}
	.right-panel-bg-layout {
		width: 31rem;
		height: 31rem;
	}
	.right-panel-content-layout {
		margin-top: -5.5rem;
		width: 31rem;
		height: 20rem;
	}
	.right-panel-footer-layout {
		margin-top: 3rem;
		width: 31rem;
		height: 5rem;
		padding: 0.9rem 0.2rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 1rem;
	}
	.elapsed-time-layout {
		margin-bottom: 1rem;
	}
	.elapsed-datetime-value-layout {
		font-size: 2.5rem;
		line-height: 2rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 1360px) {
	body {
		font-size: 15px;
	}

	.right-panel-bg-layout {
		width: 28rem;
		height: 28rem;
	}

	.right-panel-content-layout {
		width: 28rem;
		height: 19rem;
		padding-top: 2.5rem;
	}
	.right-panel-footer-layout {
		margin-top: 1.5rem;
		width: 28rem;
	}
}

@media (max-width: 1282px) {
	body {
		font-size: 14px;
	}
	.right-panel-bg-layout {
		width: 28rem;
		height: 28rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		width: 28rem;
		height: 18rem;
	}
	.right-panel-footer-layout {
		margin-top: -1.25rem;
		width: 28rem;
	}
}

@media (max-width: 1226px) {
	body {
		font-size: 13px;
	}
	.right-panel-bg-layout {
		width: 27rem;
		height: 27rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		width: 27rem;
		height: 17rem;
	}
	.right-panel-footer-layout {
		margin-top: -1.25rem;
		width: 27rem;
	}
}

@media (max-width: 1180px) {
	body {
		font-size: 12px;
	}
	.right-panel-bg-layout {
		width: 26rem;
		height: 26rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		width: 26rem;
		height: 17rem;
	}
	.right-panel-footer-layout {
		margin-top: -1.25rem;
		width: 26rem;
	}
}

@media (max-width: 1150px) {
	body {
		font-size: 10px;
	}
	.right-panel-bg-layout {
		width: 25rem;
		height: 25rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		margin-left: -23.5rem;
		width: 22rem;
		height: 15rem;
		padding-top: 1rem;
	}
	.right-panel-footer-layout {
		margin-top: -1rem;
		width: 22rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 1rem;
	}
	.elapsed-time-layout {
		margin-bottom: 1rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 1024px) {
	body {
		font-size: 10px;
	}
	.right-panel-bg-layout {
		width: 24rem;
		height: 24rem;
	}
	.right-panel-content-layout {
		margin-top: -3rem;
		margin-left: 2rem;
		width: 24rem;
		height: 16rem;
	}
	.right-panel-footer-layout {
		margin-top: -5rem;
		width: 24rem;
	}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 600px) {
}