body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

h2 {
	font-size: 4rem;
	font-weight: 600;
	line-height: 4.5rem;
	margin-bottom: 1.5rem;
}

.page-title-label-layout {
	padding: 2rem 0;
}

.page-title-label-layout h3 {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1rem;
	margin-bottom: 1.5rem;
}

/**************************************/
/******** Roadmap page CSS ************/
/**************************************/
.roadmap-container {
	font-size: 11px;
}

.roadmap-block-layout {
	background: rgb(254, 215, 174);
	padding: 0 0.5rem;
	width: 20rem;
	height: 11rem;
}

.roadmap-block-title {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1rem;
	margin-bottom: 0.5rem;
}

.roadmap-block-row1-layout {
	margin-left: 0rem;
}

.roadmap-block-row2-layout {
	margin-right: 0rem;
}

.roadmap-block-list-layout {
	list-style: disc;
}

.roadmap-block-list-layout li {
	margin-left: 0.8rem;
}

.roadmap-block-number-layout {
/*	margin-right: -2rem;
	margin-bottom: -2rem;
*/
	height: 100%;
}

.roadmap-block-number-label-layout {
	color: #F5F5F5;
	background: rgb(231, 117, 5);	
	font-size: 2rem;
	font-weight: 600;
	line-height: 1rem;
	padding-top: 1rem;
	margin-bottom: -0.5rem;
	margin-left: -2.5rem;
}

.linked-line-right-layout {
	margin-left: -0.5rem;
}

.link-line-leftside-layout, .link-line-rightside-layout {
	font-size: 1.5rem;
	font-weight: 600;
	color: rgb(0, 44, 83);
	letter-spacing: 0rem;
	margin-left: -0.1rem;
}

.linked-circle-leftside-layout, .linked-circle-rightside-layout {
	color: rgb(0, 44, 83);
	background: rgb(0, 44, 83);
	margin-left: -0.1rem;
	margin-top: 0.1rem;
}

.tokenomics-card {
	background: #FFF;
	width: 20rem;
	min-height: 13rem;
	max-height: 50rem;
}

.tokenomics-card-content-layout {
}

/**************************************/
/********** Tokenomics CSS **************/
/**************************************/
.tokenomics-container-layout {
	background: rgb(250, 248, 249);
}

/**************************************/
/********** Homepage CSS **************/
/**************************************/
.top-layout {
	width: 100%;
	height: auto;	
	background-color: #0C0241;
	position: absolute;
	padding: 1em;
}

.bg-effect-layout {
	opacity: 0;
	height: 100vh;
}

.bg-effect-1 {
	position: absolute;
	top: 0px;
	left: 0px;

}

.bg-effect-2 {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/**************** HEADER LAYOUT **************/
.header-layout {
	color: #FFF;
}

.header-layout .logo-layout {
	margin-left: 110px;
}

.header-layout .menu-layout {
}

.header-layout .menu-layout ul {
	padding-top: 10px;
}

.header-layout .menu-layout ul li {
	cursor: pointer;
	margin: 0 1rem;
}

.header-layout .menu-layout ul li.active {
	cursor: pointer;
	margin: 0 1rem;
	border-bottom: 1px solid #FA02FF;
}

button.small-button {
	display: flex;
	flex-direction: row;
	align-items: flex-center;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	gap: 0.625rem;

	width: auto;
	height: auto;

	background: #1A1F54;
	border: 0.125rem solid #FA02FF;
	border-radius: 12.5rem;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

button.small-button span {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 1rem;
	line-height: 1rem;
	color: #FFFFFF;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-top: -2px;
}
/******* MAIN CONTAINER LAYOUT *************/
.body-layout {
	height: 100vh;
}

.content-layout {
	padding: 3rem;
	display: flex;
	justify-content: space-between;
}

.main-text-color {
	color: #F5F5F5;
}

.left-panel-layout {
	text-align: center;
	color: #F5F5F5;
}

.greeting-section-layout {
	margin-bottom: 5rem;
}

.greeting-layout {
	margin-bottom: 2rem;
}

.greeting-layout h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 4.5rem;
	line-height: 5rem;
	/* or 114% */
	letter-spacing: 0.1rem;
	color: #FFFFFF;
}

.greeting-layout h2.highlighted {
	color: #FA02FF;
}

.title-highlighted-layout {
}

.left-panel-buttons-layout {
	margin-top: 2rem;
}

.main-button-theme {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2rem;
	/* identical to box height, or 112% */

	letter-spacing: 0.1rem;
	border-radius: 1.67rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1.5rem;
	gap: 0.625rem;
}

.main-button-theme.medium-size {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1rem;
	/* identical to box height, or 112% */

	letter-spacing: 0.2rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1.5rem;
	gap: 0.625rem;
}

.gradient-button-bg {
	background: linear-gradient(93.49deg, #FA02FF 1.54%, rgba(88, 71, 255, 0) 112.54%);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.border-pink {
	border: 2px solid #FA02FF;
}

button.border-pink:focus {
	outline: 1px solid #FA02FF;
}

button.gradient-button-bg:focus {
	outline: 1px solid #FA02FF;	
}

.right-panel-layout {
	text-align: center;
	color: #F5F5F5;
	padding: 3em;
}

.right-panel-bg-layout {
}

.right-panel-content-layout {
	padding-top: 2.5rem;
    margin-left: -98%;
    margin-top: -8.5rem;
    width: 92%;
    height: 21rem;
}

.right-panel-footer-layout {
    margin-top: 3.5rem;
    width: 36.91rem;
    height: 5rem;
    padding: 0.9rem 0.2rem;
	color: #000;
	background: linear-gradient(91.68deg, #FA02FF 0%, #5847FF 105.34%);
	border-radius: 0px 0px 2.5rem 2.5rem;
}

.semi-transparent-bg {
	background: radial-gradient(100% 177.18% at 0% 5.41%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	backdrop-filter: blur(2rem);
	/* Note: backdrop-filter has minimal browser support */
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
}

.presale-amount-section-layout {
	margin-bottom: 2rem;
}

.presale-title-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 1rem;
	/* identical to box height, or 60% */
	letter-spacing: 0.1rem;
	color: #FFFFFF;
}

.presale-amount-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2rem;
	/* or 92% */
	text-align: center;
	letter-spacing: 0.1rem;
	color: #E0E0E0;
}

.token-sold-label-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1rem;
	/* or 192% */

	text-align: center;
	letter-spacing: 0.1rem;

	color: #E0E0E0;
}

.elapsed-time-layout {
	margin-bottom: 2rem;
}

.elapsed-datetime-value-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 2rem;
	/* identical to box height, or 51% */
	letter-spacing: 0.1rem;
	color: #FFFFFF;	
	margin-bottom: 0.5rem;
}

.elapsed-datetime-label-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	/* identical to box height, or 144% */
	letter-spacing: 0.1rem;
	color: #E0E0E0;
}

.presale-duration-comment1-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5rem;
	/* identical to box height, or 157% */
	text-align: center;
	letter-spacing: -0.02rem;
	color: #100344;	
}

.presale-duration-comment2-layout {
	font-family: 'Goldplay';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	/* identical to box height, or 157% */
	text-align: center;
	letter-spacing: 0;
	color: #100344;	
}

@media (max-width: 1400px) {
	.main-button-theme {
		font-size: 2rem;
		line-height: 2rem;
	}
	.right-panel-content-layout {
		margin-top: -5.5rem;
		width: 31rem;
		height: 20rem;
	}
	.right-panel-footer-layout {
		margin-top: 3rem;
		width: 31rem;
		height: 5rem;
		padding: 0.9rem 0.2rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 1rem;
	}
	.elapsed-time-layout {
		margin-bottom: 1rem;
	}
	.elapsed-datetime-value-layout {
		font-size: 2.5rem;
		line-height: 2rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 1360px) {
	body {
		font-size: 15px;
	}

	.right-panel-content-layout {
		width: 35rem;
		height: 23rem;
		margin-left: -100%;
		margin-top: -4rem;
		padding-top: 2.5rem;
	}
	.right-panel-footer-layout {
		margin-top: 1rem;
		width: 32.2rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 2rem;
	}
	.elapsed-time-layout {
		margin-bottom: 2rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 1282px) {
	body {
		font-size: 10px;
	}
	.right-panel-bg-layout {
		width: 25rem;
		height: 25rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		margin-left: -23.5rem;
		width: 22rem;
		height: 15rem;
		padding-top: 1rem;
	}
	.right-panel-footer-layout {
		margin-top: -1.5rem;
		width: 22rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 1rem;
	}
	.elapsed-time-layout {
		margin-bottom: 1rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 1200px) {
	body {
		font-size: 10px;
	}
	.right-panel-bg-layout {
		width: 25rem;
		height: 25rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		margin-left: -23.5rem;
		width: 22rem;
		height: 14rem;
		padding-top: 1rem;
	}
	.right-panel-footer-layout {
		margin-top: -2rem;
		width: 22rem;
	}
	.presale-title-layout {
		font-size: 2rem;
	}
	.presale-amount-layout {		
		font-size: 1.5rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 0.5rem;
	}
	.elapsed-time-layout {
		margin-bottom: 0.5rem;
	}
	.presale-duration-comment1-layout {
		font-size: 1rem;
		letter-spacing: 0rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
	.main-button-theme {
		font-size: 1.5rem;
		line-height: 1rem;
	}
}

@media (max-width: 1120px) {
	body {
		font-size: 10px;
	}
	.right-panel-bg-layout {
		width: 25rem;
		height: 25rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		margin-left: -23.5rem;
		width: 22rem;
		height: 15rem;
		padding-top: 1rem;
	}
	.right-panel-footer-layout {
		margin-top: -1rem;
		width: 22rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 1rem;
	}
	.elapsed-time-layout {
		margin-bottom: 1rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 1024px) {
	body {
		font-size: 10px;
	}
	.content-layout {
		display: block;
	}
	.right-panel-bg-layout {
		width: 25rem;
		height: 25rem;
	}
	.right-panel-content-layout {
		margin-top: -5rem;
		margin-left: -23.5rem;
		width: 22rem;
		height: 15rem;
		padding-top: 1rem;
	}
	.right-panel-footer-layout {
		margin-top: -1rem;
		width: 22rem;
	}
	.presale-amount-section-layout {
		margin-bottom: 1rem;
	}
	.elapsed-time-layout {
		margin-bottom: 1rem;
	}
	.presale-duration-comment1-layout {
		letter-spacing: -0.11rem;
	}
	.presale-duration-comment2-layout {
		letter-spacing: -0.05rem;
	}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 600px) {
}